@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 730px;
  width: 100%;
  height: 280px;
  border-radius: 10px;
  display: flex;
  -webkit-box-shadow: 2px 9px 25px 3px #dddddd;
  -moz-box-shadow: 2px 9px 25px 3px #dddddd;
  box-shadow: 2px 9px 25px 3px #dddddd;
  position: relative;
}
.card .container-img {
  max-width: 285px;
  width: 100%;
  height: 280px;
  border-radius: 10px 0 0 10px;
  background: url("../images/drawers.jpg");
  background-position: left;
  background-size: cover;
}
.card .container-description {
  width: fit-content;
  height: auto;
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .container-description h1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 136%;
  letter-spacing: 0.3px;
  color: hsl(217, 19%, 35%);
}
.card .container-description p {
  font-size: 0.8125rem;
  line-height: 150%;
  letter-spacing: -0.05px;
  color: hsl(214, 17%, 51%);
}
.card .container-description .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}
.card .container-description .user .user-infos {
  display: flex;
}
.card .container-description .user .user-infos img {
  width: 41px;
  height: auto;
  border-radius: 100px;
  margin-right: 15px;
}
.card .container-description .user .user-infos p,
.card .container-description .user .user-infos span {
  font-size: 0.8125rem;
}
.card .container-description .user .user-infos p {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
.card .container-description .user .user-infos span {
  color: hsl(212, 23%, 69%);
}
.card .container-description .user .share {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 5;
}
.card .container-description .user .share:hover {
  background-color: hsl(217, 19%, 35%);
}
.card .container-description .user .share:hover .svg {
  fill: white;
}
.card .modal {
  position: absolute;
  width: 248px;
  height: 55px;
  right: -65px;
  bottom: 91px;
  border-radius: 10px;
  background-color: hsl(217, 19%, 35%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  visibility: hidden;
  z-index: 2;
}
.card .modal span {
  font-size: 0.8125rem;
  font-family: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  opacity: 50%;
}
.card .modal .pointer {
  width: 0;
  height: 0;
  border-top: 10px solid hsl(217, 19%, 35%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 615px) {
  .card {
    flex-direction: column;
    height: auto;
  }
  .card .container-img {
    max-width: 100%;
    background-position: center;
    border-radius: 10px 10px 0 0;
  }
  .card .container-description {
    gap: 20px;
    padding: 30px 30px 20px 30px;
  }
  .card .container-description .user {
    margin-top: 20px;
  }
  .card .container-description .modal {
    position: absolute;
    width: 100%;
    height: 75px;
    justify-content: left;
    padding-left: 30px;
    bottom: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
  }
  .card .container-description .modal .pointer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */