// Primary Colors

$orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Neutral Colors

$tp-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);

// Typography

$font: (
  Lexend-Deca: unquote("'Lexend Deca', arial, sans-serif"),
  Big-Shoulders-Display: unquote("'Big Shoulders Display', arial, sans-serif"),
);

$font-weight: (
  regular: 400,
  bold: 700,
);

$font-size: pxToRem(15);
